.messge-header {
    display: flex;
    justify-content: space-between;
    min-width: 190px;
}

.timestamp {
    font-size: 12px;
    margin-right: 2vw;
}

#applogo {
    height: 120%;
}

.conversations-parent {
    display: flex;
}

.conversations {
    height: 100vh;
    width: 25%;
    background-color: #F3F8FF;
}

.conversations-expanded {
    height: 100vh;
    width: 75%;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.conversation {
    border: solid 1px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    height: 7vw;
    width: 90%;
    background-color: white;
    align-items: center;
}

.conversation-img {
    height: 6vw;
    margin-left: 1vw;
    border-radius: 100px;
}

.conversation p {
    font-size: 2vw;
    color: #020202;
}
.navbar-heading {
    font-size: 3vw;
}
@media (max-width: 600px) {
    .conversations-expanded {
        display: none;
    }
    .conversations {
        width: 100%;
    }
    .conversation {
        display: flex;
        height: 20vw;
        width: 90%;
        background-color: white;
        align-items: center;
    }
    .conversation-img {
        height: 10vw;
        margin-left: 5vw;
        border-radius: 100px;
    }
    
    .conversation p {
        font-size: 5vw;
        color: #020202;
    }

    .navbar-heading {
        font-size: 5vw;
    }
}